body {
  height: 100vh;
  margin: 0;
  justify-content: center;
  align-items: center;
  background-color: #252525;
}

.sidebar {
  font-family: Poppins, Arial, sans-serif;
  position: fixed;
  top: 0;
  right: -200px;
  height: 100%;
  z-index: 999;
  width: 200px;
  background-color: #333;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  transition: right 0.3s ease;
   

}

.sidebar.show-sidebar {
  right: 0;
}

.sidebar a {
  color: #00ff73;
  text-decoration: wavy;
  margin: 10px 0;
  font-size: 20px;
  cursor: pointer;
  transition: ease 0.3s;
}

.sidebar a:hover {
  font-size: 23px;
}

.magnifying-glass {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 28px;
  cursor: pointer;
  color:white;
}

.rain-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.raindrop {
  background-color: #00ff73;
  width: 2px;
  height: 15px;
  position: absolute;
  bottom: 100%;
  animation: fall 1.5s linear infinite;
}

@keyframes fall {
  0% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh) scale(0.2);
    opacity: 0;
  }
}

.centered-heading1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-size: 80px;
  text-align: center;
  color: rgb(0, 255, 106);
  margin-top: 20px;
}

.centered-heading2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-size: 25px;
  left: 0;
  bottom: 0;
  color: rgb(255, 255, 255);
  margin-top: 40px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}
.button {
  background-color: #00ff73;
  border: none;
  border-radius: 10px;
  padding: 15px 30px;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-size: 20px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.button:hover,
.button:focus {
  transform: scale(1.1);
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(240, 240, 240, 0.3);
  border-radius: 10px;
  pointer-events: none;
  transition: transform 0.3s ease;
  transform: scale(0);
}

.button:hover::before,
.button:focus::before {
  transform: scale(1);
}
